In [1]:
!pip install symspellpy
!pip install fasttext-langdetect
!pip install wordfreq

Requirement already satisfied: symspellpy in /home/venerable_white/.conda/envs/pytorch/lib/python3.10/site-packages (6.7.6)
Requirement already satisfied: editdistpy>=0.1.3 in /home/venerable_white/.conda/envs/pytorch/lib/python3.10/site-packages (from symspellpy) (0.1.3)

In [108]:
import numpy as np
import pandas as pd
import random
import ast
from tqdm import tqdm
from IPython import display as ipd

# visualization
import matplotlib.pyplot as plt
from tabulate import tabulate
import seaborn as sns
#system files
import os
import json
import re
import glob

import zipfile
import shutil
import gc
from pydub import AudioSegment
from joblib import Parallel, delayed

from ftlangdetect import detect

from wordfreq import word_frequency ,top_n_list,get_frequency_dict,zipf_frequency
from collections import Counter

from pandarallel import pandarallel
from bnunicodenormalizer import Normalizer 
pandarallel.initialize(progress_bar=True,nb_workers=8)
tqdm.pandas()
bnorm=Normalizer()

import warnings
warnings.filterwarnings('ignore')

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [109]:
def normalize(sen):
    _words = [bnorm(word)['normalized']  for word in sen.split()]
    return " ".join([word for word in _words if word is not None])

In [110]:
def remove_punctuations(my_str):
    punctuations = '''````¬£|¬¢|√ë+-*/=EROero‡ß≥‡ß¶‡ßß‡ß®‡ß©‡ß™‡ß´‡ß¨‡ß≠‡ßÆ‡ßØ012‚Äì34567‚Ä¢89‡•§!()-[]{};:'"‚Äú\‚Äô‚Ä¶,<>.‚Äö/?@#$%^&*_~‚Äò‚Äî‡••‚Äù‚Ä∞ü§£‚öΩÔ∏è‚úåÔøΩÔø∞‡ß∑Ôø∞'''
    no_punct = ""
    for char in my_str:
        if char not in punctuations:
            no_punct = no_punct + char
    return no_punct

In [111]:
word_freq_ress=get_frequency_dict('bn', wordlist='best')

df = pd.DataFrame.from_dict(word_freq_ress,orient='index')
df.reset_index(inplace=True)
df.columns=['word','frequency']

In [112]:
df.frequency.min()

1.0232929922807536e-08

In [113]:
df

       word     frequency
0        ‡¶®‡¶æ  1.023293e-02
1       ‡¶ï‡¶∞‡ßá  1.000000e-02
2       ‡¶è‡¶¨‡¶Ç  9.772372e-03
3        00  9.549926e-03
4         ‡¶ì  8.912509e-03
...     ...           ...
238738    üíó  1.023293e-08
238739    üí¶  1.023293e-08
238740    üòë  1.023293e-08
238741    üò¨  1.023293e-08
238742    üò∑  1.023293e-08

[238743 rows x 2 columns]

In [114]:
word_freq_ress=get_frequency_dict('bn', wordlist='best')

df = pd.DataFrame.from_dict(word_freq_ress,orient='index')
df.reset_index(inplace=True)
df.columns=['word','frequency']

#df.frequency=df.frequency*65000*100

#df.frequency=df.frequency/df.frequency.min()
# fix word count

df['word'] = df['word'].apply(lambda x : remove_punctuations(x))
df["word"]=df["word"].parallel_apply(lambda x:normalize(x))
df['lang'] = df['word'].apply(detect)
df['lang_bn'] = df['lang'].apply(lambda x:x['lang'])
df=df[df.lang_bn == 'bn']
df = df.drop(['lang','lang_bn'],axis=1)
#df=df[df.word.str.len() >=2]
#df = df.astype({"frequency": int, "word": str})
#df.frequency=df.frequency.replace(0,1)

df_from_ress = df
df_from_ress

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=29843), Label(value='0 / 29843')))‚Ä¶

          word     frequency
0           ‡¶®‡¶æ  1.023293e-02
1          ‡¶ï‡¶∞‡ßá  1.000000e-02
2          ‡¶è‡¶¨‡¶Ç  9.772372e-03
4            ‡¶ì  8.912509e-03
6         ‡¶•‡ßá‡¶ï‡ßá  7.079458e-03
...        ...           ...
238724  ‡ßü‡¶¨‡¶æ‡¶∞‡ßá‡¶∞  1.023293e-08
238726      ‡¶Ü‡¶á  1.023293e-08
238727    ‡¶¨‡¶õ‡¶∞‡ßá  1.023293e-08
238728      ‡¶ï‡¶ø  1.023293e-08
238730       ‡¶è  1.023293e-08

[198964 rows x 2 columns]

In [115]:
df_from_ress.sort_values(by='frequency')

                word     frequency
238730             ‡¶è  1.023293e-08
234366        ‡¶ú‡¶ø‡¶™‡¶ø‡¶™‡¶ø  1.023293e-08
234368       ‡¶ú‡¶ø‡¶Æ‡¶æ‡¶∞‡ßá‡¶∞  1.023293e-08
234369       ‡¶ú‡¶ø‡¶Æ‡ßá‡¶®‡ßá‡¶∏  1.023293e-08
234370  ‡¶ú‡¶ø‡¶Æ‡ßç‡¶¨‡¶æ‡¶¨‡ßÅ‡ßü‡ßá‡¶∏‡¶π  1.023293e-08
...              ...           ...
6               ‡¶•‡ßá‡¶ï‡ßá  7.079458e-03
4                  ‡¶ì  8.912509e-03
2                ‡¶è‡¶¨‡¶Ç  9.772372e-03
1                ‡¶ï‡¶∞‡ßá  1.000000e-02
0                 ‡¶®‡¶æ  1.023293e-02

[198964 rows x 2 columns]

In [116]:
df2 = pd.read_csv("dictionary/bn_full.txt", sep=" ")

df2.reset_index(inplace=True)
df2.columns=['in','word','frequency']

df2 = df2.drop('in',axis=1)
df2['word'] = df2['word'].apply(lambda x : remove_punctuations(x))
df2["word"]=df2["word"].parallel_apply(lambda x:normalize(x))
df2['lang'] = df2['word'].apply(detect)
df2['lang_bn'] = df2['lang'].apply(lambda x:x['lang'])
df2=df2[df2.lang_bn == 'bn']
df2 = df2.drop(['lang','lang_bn'],axis=1)
#df2=df2[df2.word.str.len() >=2]
df_99k = df2
df_99k

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=12499), Label(value='0 / 12499')))‚Ä¶

              word  frequency
0              ‡¶Ü‡¶Æ‡¶ø      62498
1               ‡¶®‡¶æ      55643
2             ‡¶§‡ßÅ‡¶Æ‡¶ø      34867
3             ‡¶Ü‡¶Æ‡¶æ‡¶∞      33644
4               ‡¶ï‡¶ø      27254
...            ...        ...
99986  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡¶è‡¶∞          1
99987       ‡¶ó‡¶ø‡¶∞‡¶ø‡¶™‡¶•          1
99988     ‡¶´‡ßç‡¶∞‡ßã‡¶°‡ßã‡¶ï‡ßá          1
99989  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡ßá‡¶∞          1
99991   ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá          1

[83951 rows x 2 columns]

In [117]:
df_99k

              word  frequency
0              ‡¶Ü‡¶Æ‡¶ø      62498
1               ‡¶®‡¶æ      55643
2             ‡¶§‡ßÅ‡¶Æ‡¶ø      34867
3             ‡¶Ü‡¶Æ‡¶æ‡¶∞      33644
4               ‡¶ï‡¶ø      27254
...            ...        ...
99986  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡¶è‡¶∞          1
99987       ‡¶ó‡¶ø‡¶∞‡¶ø‡¶™‡¶•          1
99988     ‡¶´‡ßç‡¶∞‡ßã‡¶°‡ßã‡¶ï‡ßá          1
99989  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡ßá‡¶∞          1
99991   ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá          1

[83951 rows x 2 columns]

In [118]:
df_from_ress

          word     frequency
0           ‡¶®‡¶æ  1.023293e-02
1          ‡¶ï‡¶∞‡ßá  1.000000e-02
2          ‡¶è‡¶¨‡¶Ç  9.772372e-03
4            ‡¶ì  8.912509e-03
6         ‡¶•‡ßá‡¶ï‡ßá  7.079458e-03
...        ...           ...
238724  ‡ßü‡¶¨‡¶æ‡¶∞‡ßá‡¶∞  1.023293e-08
238726      ‡¶Ü‡¶á  1.023293e-08
238727    ‡¶¨‡¶õ‡¶∞‡ßá  1.023293e-08
238728      ‡¶ï‡¶ø  1.023293e-08
238730       ‡¶è  1.023293e-08

[198964 rows x 2 columns]

In [119]:
df_99k['frequency'] = df_99k.frequency/df_99k.frequency.max()

df_99k.frequency = df_99k.frequency*df_from_ress.frequency.max()

In [120]:
df_99k

              word     frequency
0              ‡¶Ü‡¶Æ‡¶ø  1.023293e-02
1               ‡¶®‡¶æ  9.110546e-03
2             ‡¶§‡ßÅ‡¶Æ‡¶ø  5.708848e-03
3             ‡¶Ü‡¶Æ‡¶æ‡¶∞  5.508603e-03
4               ‡¶ï‡¶ø  4.462355e-03
...            ...           ...
99986  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡¶è‡¶∞  1.637321e-07
99987       ‡¶ó‡¶ø‡¶∞‡¶ø‡¶™‡¶•  1.637321e-07
99988     ‡¶´‡ßç‡¶∞‡ßã‡¶°‡ßã‡¶ï‡ßá  1.637321e-07
99989  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡ßá‡¶∞  1.637321e-07
99991   ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá  1.637321e-07

[83951 rows x 2 columns]

In [121]:
df_ok=df_99k.merge(df_from_ress,on='word',how='outer')

df_ok=df_ok.fillna(df_from_ress.frequency.min())

df_ok['frequency'] = (df_ok['frequency_x'] + df_ok['frequency_y'])/2


df_ok=df_ok.drop(['frequency_x','frequency_y'],axis=1)

df_ok_allright=df_ok.groupby('word')['frequency'].max().reset_index()

df_ok_allright

#df_ok_allright[(df_ok_allright.word.str.len()>=2) & (df_ok_allright.frequency ==0)]['frequency'] = 10.0

#df_ok_allright['frequency'] = df_ok_allright['frequency'] + 100

           word     frequency
0             ‡¶Ö  3.245597e-05
1       ‡¶Ö‡¶Å‡¶§‡ßã‡ßü‡¶æ‡¶®  7.102930e-08
2        ‡¶Ö‡¶Å‡¶¶‡ßç‡¶∞‡ßá  1.605527e-08
3          ‡¶Ö‡¶Å‡¶Ø‡¶æ  1.069375e-06
4          ‡¶Ö‡¶Å‡¶∞‡¶ø  5.167630e-07
...         ...           ...
224230      ‡ßü‡ßá‡¶∞  3.926611e-06
224231     ‡ßü‡ßá‡¶∞‡¶á  1.141109e-08
224232      ‡ßü‡ßã‡¶¶  1.268427e-08
224233     ‡ßü‡ßã‡¶∏‡¶æ  3.323353e-08
224234     ‡ßü‡ßç‡¶Ø‡ßÅ  2.960541e-08

[224235 rows x 2 columns]

In [122]:
df_ok_allright.sort_values(by='frequency',ascending=False)

                word     frequency
102878            ‡¶®‡¶æ  9.671738e-03
15635            ‡¶Ü‡¶Æ‡¶ø  7.401906e-03
39870            ‡¶ï‡¶∞‡ßá  6.209817e-03
31837            ‡¶è‡¶¨‡¶Ç  5.489130e-03
16055             ‡¶Ü‡¶∞  4.930283e-03
...              ...           ...
59148      ‡¶ó‡¶æ‡¶∞‡¶ø‡¶û‡ßç‡¶ö‡¶æ‡¶∞  1.023293e-08
20339      ‡¶á‡¶ú‡¶æ‡¶∞‡¶æ‡¶¶‡¶æ‡¶§‡¶æ  1.023293e-08
83199         ‡¶ü‡ßç‡¶∞‡ßá‡¶á‡¶∏  1.023293e-08
25738   ‡¶â‡¶¶‡ßç‡¶Ø‡¶æ‡¶®‡¶¨‡¶ø‡¶¶‡ßç‡¶Ø‡¶æ  1.023293e-08
49411      ‡¶ï‡ßà‡¶≤‡¶æ‡¶∏‡¶π‡¶∞‡ßá‡¶∞  1.023293e-08

[224235 rows x 2 columns]

In [123]:
df_ok_allright.frequency=df_ok_allright.frequency/df_ok_allright.frequency.min()

In [124]:
df_ok_allright.frequency = df_ok_allright.frequency*df_ok_allright.frequency.min()*100

In [125]:
df_ok_allright

           word      frequency
0             ‡¶Ö  317171.814632
1       ‡¶Ö‡¶Å‡¶§‡ßã‡ßü‡¶æ‡¶®     694.124776
2        ‡¶Ö‡¶Å‡¶¶‡ßç‡¶∞‡ßá     156.898104
3          ‡¶Ö‡¶Å‡¶Ø‡¶æ   10450.332811
4          ‡¶Ö‡¶Å‡¶∞‡¶ø    5050.000000
...         ...            ...
224230      ‡ßü‡ßá‡¶∞   38372.304077
224231     ‡ßü‡ßá‡¶∞‡¶á     111.513439
224232      ‡ßü‡ßã‡¶¶     123.955419
224233     ‡ßü‡ßã‡¶∏‡¶æ     324.770437
224234     ‡ßü‡ßç‡¶Ø‡ßÅ     289.315046

[224235 rows x 2 columns]

In [126]:
df_ok_allright = df_ok_allright.astype({"frequency": int, "word": str})

In [127]:
df_ok_allright

           word  frequency
0             ‡¶Ö     317171
1       ‡¶Ö‡¶Å‡¶§‡ßã‡ßü‡¶æ‡¶®        694
2        ‡¶Ö‡¶Å‡¶¶‡ßç‡¶∞‡ßá        156
3          ‡¶Ö‡¶Å‡¶Ø‡¶æ      10450
4          ‡¶Ö‡¶Å‡¶∞‡¶ø       5050
...         ...        ...
224230      ‡ßü‡ßá‡¶∞      38372
224231     ‡ßü‡ßá‡¶∞‡¶á        111
224232      ‡ßü‡ßã‡¶¶        123
224233     ‡ßü‡ßã‡¶∏‡¶æ        324
224234     ‡ßü‡ßç‡¶Ø‡ßÅ        289

[224235 rows x 2 columns]

In [101]:
df_ok_allright[df_ok_allright.word.str.len()>=7]

                 word  frequency
0             ‡¶Ö‡¶Å‡¶§‡ßã‡ßü‡¶æ‡¶®        694
5             ‡¶Ö‡¶Ç‡¶ï‡¶ó‡ßÅ‡¶≤‡ßã        223
6             ‡¶Ö‡¶Ç‡¶ï‡¶ü‡¶æ‡¶§‡ßá        850
9            ‡¶Ö‡¶Ç‡¶ï‡¶®‡¶ï‡¶æ‡¶∞‡ßÄ        106
14        ‡¶Ö‡¶Ç‡¶ï‡ßÅ‡¶∞‡ßã‡¶¶‡¶ó‡¶Æ‡ßá‡¶∞        123
...               ...        ...
224160   ‡¶π‡ßü‡ßá‡¶õ‡ßá‡¶™‡ßå‡¶∞‡¶æ‡¶£‡¶ø‡¶ï        850
224162  ‡¶π‡ßü‡ßá‡¶õ‡ßá‡¶∏‡¶Æ‡ßç‡¶™‡ßç‡¶∞‡¶§‡¶ø        850
224164        ‡¶π‡ßü‡ßá‡¶•‡¶æ‡¶ï‡ßá        169
224193        ‡ßü‡¶æ‡¶Æ‡¶æ‡¶¶‡ßá‡¶∞        850
224207        ‡ßü‡ßá‡¶ï‡ßç‡¶ü‡¶æ‡¶®       4850

[144408 rows x 2 columns]

In [103]:
df2.frequency = df2.frequency/df2.frequency.min()

In [104]:
df2 = df2.astype({"frequency": int, "word": str})

In [105]:
df2

              word  frequency
0              ‡¶Ü‡¶Æ‡¶ø      62498
1               ‡¶®‡¶æ      55643
2             ‡¶§‡ßÅ‡¶Æ‡¶ø      34867
3             ‡¶Ü‡¶Æ‡¶æ‡¶∞      33644
4               ‡¶ï‡¶ø      27254
...            ...        ...
99986  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡¶è‡¶∞          1
99987       ‡¶ó‡¶ø‡¶∞‡¶ø‡¶™‡¶•          1
99988     ‡¶´‡ßç‡¶∞‡ßã‡¶°‡ßã‡¶ï‡ßá          1
99989  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡ßá‡¶∞          1
99991   ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá          1

[83843 rows x 2 columns]

In [106]:
df2.to_csv('nice_83k.txt',index=False)

df2.sort_values(by='frequency')

             word  frequency
99991  ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá          1
68549     ‡¶Æ‡¶æ‡¶ù‡¶ø‡¶¶‡ßá‡¶∞          1
68548      ‡¶∏‡ßá‡¶á‡¶™‡¶ü‡¶æ          1
68547       ‡¶∏‡¶æ‡¶ü‡¶ü‡¶æ          1
68546      ‡¶∂‡¶ø‡¶ñ‡¶æ‡¶§‡ßã          1
...           ...        ...
4              ‡¶ï‡¶ø      27254
3            ‡¶Ü‡¶Æ‡¶æ‡¶∞      33644
2            ‡¶§‡ßÅ‡¶Æ‡¶ø      34867
1              ‡¶®‡¶æ      55643
0             ‡¶Ü‡¶Æ‡¶ø      62498

[83843 rows x 2 columns]

In [128]:
#df_ok_allright = df_ok_allright[df_ok_allright.word.str.len()>=2]

# remove weird words
##
df_ok_allright.to_csv('symspell.txt',index=False)

df_ok_allright.sort_values(by='frequency')

               word  frequency
101154        ‡¶ß‡ßá‡¶∞‡ßç‡¶Ø        100
176618  ‡¶∞‡¶¨‡¶ø‡¶¨‡¶æ‡¶∏‡¶∞‡ßÄ‡ßü‡¶§‡ßá        100
183730      ‡¶≤‡¶ï‡¶ó‡ßá‡¶ü‡ßá‡¶∞        100
211432       ‡¶∏‡ßã‡¶°‡¶æ‡¶ï‡ßá        100
45865       ‡¶ï‡¶ø‡¶ü‡¶ó‡ßÅ‡¶≤‡¶ø        100
...             ...        ...
16055            ‡¶Ü‡¶∞   48180556
31837           ‡¶è‡¶¨‡¶Ç   53641817
39870           ‡¶ï‡¶∞‡ßá   60684639
15635           ‡¶Ü‡¶Æ‡¶ø   72334179
102878           ‡¶®‡¶æ   94515824

[224235 rows x 2 columns]