In [1]:
!pip install symspellpy
!pip install fasttext-langdetect
!pip install wordfreq

Requirement already satisfied: symspellpy in /home/venerable_white/.conda/envs/pytorch/lib/python3.10/site-packages (6.7.6)
Requirement already satisfied: editdistpy>=0.1.3 in /home/venerable_white/.conda/envs/pytorch/lib/python3.10/site-packages (from symspellpy) (0.1.3)

In [302]:
import numpy as np
import pandas as pd
import random
import ast
from tqdm import tqdm
from IPython import display as ipd

# visualization
import matplotlib.pyplot as plt
from tabulate import tabulate
import seaborn as sns
#system files
import os
import json
import re
import glob

import zipfile
import shutil
import gc
from pydub import AudioSegment
from joblib import Parallel, delayed

from ftlangdetect import detect

from wordfreq import word_frequency ,top_n_list,get_frequency_dict
from collections import Counter

from pandarallel import pandarallel
from bnunicodenormalizer import Normalizer 
pandarallel.initialize(progress_bar=True,nb_workers=8)
tqdm.pandas()
bnorm=Normalizer()

import warnings
warnings.filterwarnings('ignore')

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [2]:
def normalize(sen):
    _words = [bnorm(word)['normalized']  for word in sen.split()]
    return " ".join([word for word in _words if word is not None])

In [3]:
def remove_punctuations(my_str):
    punctuations = '''````¬£|¬¢|√ë+-*/=EROero‡ß≥‡ß¶‡ßß‡ß®‡ß©‡ß™‡ß´‡ß¨‡ß≠‡ßÆ‡ßØ012‚Äì34567‚Ä¢89‡•§!()-[]{};:'"‚Äú\‚Äô‚Ä¶,<>.‚Äö/?@#$%^&*_~‚Äò‚Äî‡••‚Äù‚Ä∞ü§£‚öΩÔ∏è‚úåÔøΩÔø∞‡ß∑Ôø∞'''
    no_punct = ""
    for char in my_str:
        if char not in punctuations:
            no_punct = no_punct + char
    return no_punct

In [317]:
word_freq_ress=get_frequency_dict('bn', wordlist='best')

df = pd.DataFrame.from_dict(word_freq_ress,orient='index')
df.reset_index(inplace=True)
df.columns=['word','frequency']

#df.frequency=df.frequency*len(df)

#df.frequency=df.frequency-df.frequency.min()
# fix word count
df.frequency=df.frequency.replace(0,1)

df['word'] = df['word'].apply(lambda x : remove_punctuations(x))
df["word"]=df["word"].parallel_apply(lambda x:normalize(x))
df['lang'] = df['word'].apply(detect)
df['lang_bn'] = df['lang'].apply(lambda x:x['lang'])
df=df[df.lang_bn == 'bn']
df = df.drop(['lang','lang_bn'],axis=1)
df=df[df.word.str.len() >=1]
df = df.astype({"frequency": int, "word": str})
df_from_ress = df
df_from_ress

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=29843), Label(value='0 / 29843')))‚Ä¶

          word  frequency
0           ‡¶®‡¶æ       2443
1          ‡¶ï‡¶∞‡ßá       2387
2          ‡¶è‡¶¨‡¶Ç       2333
4            ‡¶ì       2127
6         ‡¶•‡ßá‡¶ï‡ßá       1690
...        ...        ...
238724  ‡ßü‡¶¨‡¶æ‡¶∞‡ßá‡¶∞          1
238726      ‡¶Ü‡¶á          1
238727    ‡¶¨‡¶õ‡¶∞‡ßá          1
238728      ‡¶ï‡¶ø          1
238730       ‡¶è          1

[198964 rows x 2 columns]

In [318]:
df2 = pd.read_csv("dictionary/bn_full.txt", sep=" ")

df2.reset_index(inplace=True)
df2.columns=['in','word','frequency']

df2 = df2.drop('in',axis=1)
df2['word'] = df2['word'].apply(lambda x : remove_punctuations(x))
df2["word"]=df2["word"].parallel_apply(lambda x:normalize(x))
df2['lang'] = df2['word'].apply(detect)
df2['lang_bn'] = df2['lang'].apply(lambda x:x['lang'])
df2=df2[df2.lang_bn == 'bn']
df2 = df2.drop(['lang','lang_bn'],axis=1)
df2=df2[df2.word.str.len() >=1]
df_99k = df2
df_99k

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=12499), Label(value='0 / 12499')))‚Ä¶

              word  frequency
0              ‡¶Ü‡¶Æ‡¶ø      62498
1               ‡¶®‡¶æ      55643
2             ‡¶§‡ßÅ‡¶Æ‡¶ø      34867
3             ‡¶Ü‡¶Æ‡¶æ‡¶∞      33644
4               ‡¶ï‡¶ø      27254
...            ...        ...
99986  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡¶è‡¶∞          1
99987       ‡¶ó‡¶ø‡¶∞‡¶ø‡¶™‡¶•          1
99988     ‡¶´‡ßç‡¶∞‡ßã‡¶°‡ßã‡¶ï‡ßá          1
99989  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡ßá‡¶∞          1
99991   ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá          1

[83951 rows x 2 columns]

In [319]:
df_99k

              word  frequency
0              ‡¶Ü‡¶Æ‡¶ø      62498
1               ‡¶®‡¶æ      55643
2             ‡¶§‡ßÅ‡¶Æ‡¶ø      34867
3             ‡¶Ü‡¶Æ‡¶æ‡¶∞      33644
4               ‡¶ï‡¶ø      27254
...            ...        ...
99986  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡¶è‡¶∞          1
99987       ‡¶ó‡¶ø‡¶∞‡¶ø‡¶™‡¶•          1
99988     ‡¶´‡ßç‡¶∞‡ßã‡¶°‡ßã‡¶ï‡ßá          1
99989  ‡¶ï‡¶æ‡¶∞‡¶æ‡¶ß‡ßç‡¶∞‡¶æ‡¶∏‡ßá‡¶∞          1
99991   ‡¶Ö‡ßç‡¶Ø‡¶æ‡¶°‡¶≤‡¶æ‡¶∞‡¶ï‡ßá          1

[83951 rows x 2 columns]

In [320]:
df_from_ress

          word  frequency
0           ‡¶®‡¶æ       2443
1          ‡¶ï‡¶∞‡ßá       2387
2          ‡¶è‡¶¨‡¶Ç       2333
4            ‡¶ì       2127
6         ‡¶•‡ßá‡¶ï‡ßá       1690
...        ...        ...
238724  ‡ßü‡¶¨‡¶æ‡¶∞‡ßá‡¶∞          1
238726      ‡¶Ü‡¶á          1
238727    ‡¶¨‡¶õ‡¶∞‡ßá          1
238728      ‡¶ï‡¶ø          1
238730       ‡¶è          1

[198964 rows x 2 columns]

In [350]:
df_ok=df_99k.merge(df_from_ress,on='word',how='outer')

df_ok=df_ok.fillna(0)

df_ok['frequency'] = df_ok['frequency_x'] + df_ok['frequency_y']

df_ok

df_ok=df_ok.drop(['frequency_x','frequency_y'],axis=1)

df_ok

df_ok_allright=df_ok.groupby('word')['frequency'].max().reset_index()

df_ok_allright

#df_ok_allright[(df_ok_allright.word.str.len()>=2) & (df_ok_allright.frequency ==0)]['frequency'] = 10.0

#df_ok_allright['frequency'] = df_ok_allright['frequency'] + 100

df_ok_allright = df_ok_allright.astype({"frequency": int, "word": str})

df_ok_allright = df_ok_allright[df_ok_allright.word.str.len()>=2]

# remove weird words
##
df_ok_allright.to_csv('symspell.txt',index=False)

df_ok_allright.sort_values(by='frequency')

           word  frequency
1       ‡¶Ö‡¶Å‡¶§‡ßã‡ßü‡¶æ‡¶®        100
132100     ‡¶´‡ßã‡¶Å‡ßú        100
132101    ‡¶´‡ßã‡¶Å‡ßú‡¶®        100
132103  ‡¶´‡ßã‡¶Å‡ßú‡¶æ‡¶§‡ßá        100
132104  ‡¶´‡ßã‡¶Å‡ßú‡¶æ‡¶®‡ßã        100
...         ...        ...
45578        ‡¶ï‡¶ø      28201
15584      ‡¶Ü‡¶Æ‡¶æ‡¶∞      34631
90561      ‡¶§‡ßÅ‡¶Æ‡¶ø      35222
102878       ‡¶®‡¶æ      58186
15635       ‡¶Ü‡¶Æ‡¶ø      63689

[224215 rows x 2 columns]